<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1 class="T">Agregar Productos</h1>
    
    <!-- Mostrar usuario actual -->
    <p>Usuario: {{userEmail}}</p>

    <!-- Mostrar estado del carrito -->
    <p>Estado del carrito: {{cartStatus}}</p>
    
    <div id="productForm">
        <input type="text" id="title" placeholder="Titulo" >
        <input type="text" id="description" placeholder="Descripcion" >
        <input type="text" id="code" placeholder="Code" >
        <input type="number" id="price" placeholder="Precio" >
        <input type="number" id="stock" placeholder="Stock" >
        <input type="text" id="category" placeholder="Categoria" >
        <button id="addProductBtn">Agregar Producto</button>
    </div>
    
    <h1 class="S">Lista de Productos</h1>
    <button id="deleteProduct">Limpiar Lista</button>
    
    <!-- Mostrar productos en tiempo real -->
    <ul id="productList">
        <!-- Los productos se actualizarán dinámicamente aquí -->
    </ul>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const socket = io();
            
            socket.on('productos', (productos) => {
                const productList = document.getElementById('productList');
                productList.innerHTML = '';
                productos.forEach(producto => {
                    const li = document.createElement('li');
                    li.textContent = `ID: ${producto.id} - Titulo: ${producto.title} - Descripcion: ${producto.description} - Precio: $${producto.price}`;
                    productList.appendChild(li);
                });
            });

            document.getElementById('addProductBtn').addEventListener("click", () => {
                const title = document.getElementById('title').value;
                const description = document.getElementById('description').value;
                const code = document.getElementById('code').value;
                const price = document.getElementById('price').value;
                const stock = document.getElementById('stock').value;
                const category = document.getElementById('category').value;

                const newProduct = {
                    title: title,
                    description: description,
                    code: code,
                    price: price,
                    stock: stock,
                    category: category
                };

                socket.emit('nuevoProducto', newProduct);

                document.getElementById('title').value = '';
                document.getElementById('description').value = '';
                document.getElementById('code').value = '';
                document.getElementById('price').value = '';
                document.getElementById('stock').value = '';
                document.getElementById('category').value = '';
            });

            document.getElementById('deleteProduct').addEventListener("click", () => {
                const productList = document.getElementById('productList');
                productList.innerHTML = '';
                socket.emit('limpiarProductos');
            });
        });
    </script>
</body>
</html>
